section {
  margin-block: 0;
}

.heading {
  font-size: clamp(1rem, 8vw, 2.5rem);
  font-weight: 300;
  margin-bottom: 1rem;
  color: #494a52;
}
.text {
  font-size: clamp(1rem, 2vw, 1.4rem);
  color: rgb(42, 106, 106);
  line-height: 1.6;
  padding: 1rem;
}

.section:first-child {
  text-align: center;
}
.sticky .section-hero {
  margin-top: 0;
}
/* form */
.form-container {
  width: 100%;
  box-shadow: 6px 6px 24px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 6px 6px 24px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 6px 6px 24px -5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 2rem;
}
.form {
  text-align: left;
}

.form-container > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
