.heading {
  font-size: clamp(1rem, 8vw, 2.5rem);
  font-weight: 600;
  margin-bottom: 1rem;
  color: #494a52;
}
.text {
  font-size: clamp(1rem, 3vw, 2rem);
  color: rgba(42, 106, 106, 1);
  line-height: 1.6;
}

.section:first-child {
  text-align: center;
}
/* form */
.form-container {
  width: 100%;
  box-shadow: 6px 6px 24px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 6px 6px 24px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 6px 6px 24px -5px rgba(0, 0, 0, 0.3);
}
.form {
  text-align: left;
}

/* footer */
.footer-heading-container {
  gap: 1rem;
}
.footer-heading {
  font-size: 1rem;
  font-weight: 600;
  color: #454545;
}

.icon-wrapper {
  background-color: rgba(42, 106, 106, 1);
}

.social-icon {
  fill: #eee;
}

.footer {
  text-align: center;
  gap: 2rem;
  padding-block: 2rem;
}
