* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: paralucent, sans-serif;
}

:root {
  --logo-width: 96px;
  --wrapper-width: 120rem;
}
html {
  overflow-x: hidden;
}

main {
  /* gap: 4rem; */
  margin-top: 7rem;
  margin-bottom: 2rem;
}

section {
  width: 100%;
  margin-block: 2rem;
}

.section {
  gap: 3rem;
}
.wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

/* header */
.header-content {
  display: grid;
  grid-template-columns: 1fr 9fr;
  justify-content: center;
  align-items: baseline;
}

.header-content a {
  justify-self: start;
}

.header-content .main-nav {
  margin-left: 10rem;
}

.header-content .button-mobile-nav {
  justify-self: end;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  transition: all 250ms ease-in;
}

.main-nav-link {
  position: relative;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: rgba(42, 106, 106, 1);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.main-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
  right: 0;
  border: 1px solid rgba(42, 106, 106, 1);
  transform: scale(0);
}

.main-nav-link:hover.main-nav-link::after {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.logo {
  width: var(--logo-width);
  aspect-ratio: 1/1;
}

/* mobile nav */
.button-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 2rem;
  width: 2rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
.header {
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
/* sticky nav */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 3rem;
}
.section-hero-flex {
  display: flex;
  gap: 2rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button,
.button:link,
.button:visited {
  background-color: rgba(42, 106, 106, 1);
  padding: 0.8em 1.8em;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  border-radius: 0.5rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 250ms ease-in;
  max-width: 100%;
  word-wrap: break-word;
  text-align: center;
  display: block;
}

.button-inverted,
.button-inverted:link,
.button-visited {
  background-color: #fff;
  color: rgba(42, 106, 106, 1);
  padding: 0.8em 1.8em;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  border-radius: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: border 250ms ease-in;
  max-width: 100%;
  word-wrap: break-word;
  text-align: center;
  display: block;
  border: 2px solid transparent;
}

.button-inverted:hover,
.button-inverted:active,
.button-inverted:focus {
  border: 2px solid rgba(42, 106, 106, 0.4);
  /* color: #fff; */
}

.button:hover,
.button:active {
  background-color: rgb(42, 136, 136);
}

.button-pill {
  background-color: rgb(6, 154, 142);
  color: #eee;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  border: 2px solid #069a8e;
  font-weight: 500;
  max-width: max-content;
}

.button-pill:hover,
.button-pill:active {
  color: #069a8e;
  background-color: #fff;
  border: 2px solid #069a8e;
}

.icon-wrapper {
  display: flex;
  background-color: rgba(42, 106, 106, 1);
  border-radius: 12px;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease-in;
}
.social-icon {
  fill: rgb(245, 255, 255);
  width: 28px;
  height: 28px;
  transition: fill 250ms ease-in;
}

.icon-wrapper:hover {
  background-color: rgb(245, 255, 255);
}

.icon-wrapper:hover .social-icon {
  fill: rgb(42, 136, 136);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #aaa;
  border-radius: 5px;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2rem;
}

.social-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 1rem;
}

.divider {
  border-top: 1px solid #777;
  width: 100%;
}
.footer-nav {
  padding: 2rem 1rem;
  /* text-align: center; */
}
.footer-content {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 3rem;
}
.footer-nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  flex-direction: column;
  gap: 1rem;
}

.footer-logo-container {
  text-align: center;
}

.copyright {
  padding: 1rem 2rem;
  text-align: center;
  border: 1px solid rgba(42, 106, 106, 1);
  max-width: max-content;
  margin-bottom: 2rem;
  border-radius: 5px;
  color: #aaa;
  font-size: clamp(0.7rem, 3vw, 1rem);
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}

.contacts a {
  text-decoration: none;
}

.contacts p,
.contacts a {
  color: rgb(26, 26, 26);
  font-weight: 400;
}

.footer-icon {
  fill: rgba(42, 106, 106, 1);
  color: rgba(42, 106, 106, 1);
  padding-right: 1rem;
}

.footer-nav-link {
  color: rgba(42, 106, 106, 1);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
}

.footer-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
  right: 0;
  border: 1px solid rgba(42, 106, 106, 1);
  transform: scale(0);
}

.footer-nav-link:hover.footer-nav-link::after {
  transform: scale(1);
  transition: all 200ms ease-in;
}
