* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Montserrat", sans-serif; */
  font-family: paralucent, sans-serif;
  font-weight: 400;
}

html {
  overflow-x: hidden;
}

main {
  gap: 4rem;
  margin-block: 2rem;
}

/* header */
/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-nav-link {
  position: relative;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: rgba(42, 106, 106, 1);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.main-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
  right: 0;
  border: 1px solid rgba(42, 106, 106, 1);
  transform: scale(0);
}

.main-nav-link:hover.main-nav-link::after {
  transform: scale(1);
  transition: all 200ms ease-in;
}
.logo {
  width: 96px;
  aspect-ratio: 1/1;
}

/* mobile nav */
.button-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 2rem;
  width: 2rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* sticky nav */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 999;
}

.sticky .section-hero {
  margin-top: 6rem;
}
.section-hero {
  display: flex;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 2rem;
  gap: 3rem;
}
.wrapper {
  padding: 0 10rem;
}
.button {
  background-color: rgba(42, 106, 106, 1);
  padding: 0.8em 1.8em;
  font-size: clamp(0.8rem, 1vw, 1.2rem);
  border-radius: 0.5rem;
  font-weight: 500;
  color: #f7ff93;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: rgba(65, 82, 57, 1);
  color: #f7ff93;
}

.button-schedule {
  text-align: center;
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}

.button-pill {
  background-color: #069a8e;
  color: #eee;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  border: 2px solid #069a8e;
  font-weight: 600;
  max-width: max-content;
}

.button-pill:hover,
.button-pill:active {
  color: #069a8e;
  background-color: #fff;
  border: 2px solid #069a8e;
}

.icon-wrapper {
  display: flex;
  background-color: #333;
  border-radius: 12px;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}
.social-icon {
  fill: #aaa;
  width: 28px;
  height: 28px;
}

.icon-wrapper:hover {
  background-color: #aaa;
}

.icon-wrapper:hover .social-icon {
  fill: #333;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #aaa;
  border-radius: 5px;
}
