/* for high screen resolution */

@media (max-width: 2652px) {
  */ .wrapper {
    max-width: 1980px;
    margin-inline: auto;
  }

  .header-content .main-nav {
    margin-left: 18rem;
  }
}
@media (max-width: 1920px) {
  .wrapper {
    max-width: 1440px;
    /* margin-inline: auto; */
  }
  .header-content .main-nav {
    margin-left: 16rem;
  }
}

@media (max-width: 1440px) {
  .wrapper {
    max-width: 1080px;
    /* margin-inline: auto; */
  }
  .header-content .main-nav {
    margin-left: 11rem;
  }
}
@media (max-width: 1366px) {
  .wrapper {
    max-width: 1024px;
    /* margin-inline: auto; */
  }
  .header-content .main-nav {
    margin-left: 10rem;
  }
}

@media (max-width: 1140px) {
  .wrapper {
    max-width: 855px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    max-width: 744px;
    /* margin-inline: auto; */
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 576px;
    /* margin-inline: auto; */
  }
}
@media (max-width: 576px) {
  .wrapper {
    max-width: 432px;
    /* margin-inline: auto; */
  }
}
@media (max-width: 470px) {
  .wrapper {
    margin-inline: 1rem;
  }
}

/* for responsiveness */
@media (max-width: 75em) {
  .sue-image {
    width: 80%;
  }
  .sue-desc {
    gap: 0;
  }
  .header-content .main-nav {
    margin-left: 6rem;
  }
}
@media (max-width: 59em) {
  .button-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .main-nav-list {
    flex-direction: column;
    gap: 2rem;
    padding-inline: 1rem;
  }

  .header-content .main-nav {
    margin-left: 0;
  }

  .section-hero-flex {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .section-hero-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .carousel-container {
    /* width: 70vw; */
    flex-basis: auto;
  }

  .carousel-service-container {
    max-width: 70%;
    justify-self: center;
  }

  .hero-content {
    align-items: center;
  }

  .hero-header {
    text-align: center;
  }
  .hero-description {
    max-width: 32rem;
  }

  .sue-desc {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .sue-image {
    justify-self: center;
  }

  .footer-content {
    gap: 1rem;
  }

  .section-digital .description {
    max-width: 90%;
  }
  .section-helping-grid .card-wrapper {
    grid-template-columns: 1fr;
  }

  .needs-to-hide {
    display: none;
  }
}

@media (max-width: 44em) {
  .section {
    padding: 1rem;
  }

  .gtco-testimonials {
    margin-top: 20px;
  }

  .footer-nav-list {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-nav-list {
    padding-left: 0;
  }

  .footer-company {
    flex-direction: column;
    align-items: center;
  }

  .service-hero {
    grid-template-columns: 1fr;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .carousel-container {
    width: 60vw;
    /* flex-basis: auto; */
  }

  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .section-helping-grid {
    grid-template-columns: 1fr;
  }

  .certificates {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-self: center;
  }

  .cta-content {
    padding: 2rem 0;
  }
  .text {
    margin: 0;
  }
  .hero-button-container {
    flex-direction: column;
  }
}

@media (max-width: 34em) {
  main {
    gap: 2rem;
  }

  .section {
    padding: 0.5rem;
  }

  .card-container {
    grid-template-columns: 1fr;
  }
  .card-wrapper {
    grid-template-columns: 1fr;
  }
}
