main {
  margin-top: 7rem;
  margin-bottom: 2rem;
}

.primary-heading {
  font-size: clamp(1.5rem, 8vw, 2.5rem);
  font-weight: 300;
  margin-bottom: 1rem;
  color: #494a52;
  align-self: center;
}

.secondary-heading {
  font-size: clamp(1.2rem, 6vw, 2rem);
  font-weight: 400;
  margin-bottom: 1rem;
  color: #494a52;
  padding-block: 1rem;
}

.tertiary-heading {
  font-size: clamp(1rem, 6vw, 1.5rem);
  font-weight: 400;
  margin-bottom: 1rem;
  color: #494a52;
  padding-block: 1rem;
}

.text-color-brand {
  color: rgba(42, 106, 106, 1);
}

.text-color-brand svg {
  fill: rgba(42, 106, 106, 1);
}

.flex-col {
  align-items: start;
}
/* section hero */
.section-hero-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
.hero-description {
  padding-block: 1rem;
}

.card {
  border-radius: 10px;
  box-shadow: 1px 1px 16px -1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 1px 16px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 16px -1px rgba(0, 0, 0, 0.2);
  border: none !important;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-right: 1rem;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: rgba(42, 106, 106, 0.1);
  margin-right: 1.5rem;
}

.card-icon > svg {
  width: 20px;
  height: 20px;
}
.card .text {
  /* max-width: 15rem; */
  font-size: 0.8rem;
}

.carousel-service-container {
  align-self: end;
  position: relative;
}

.service-carousel-caption {
  position: absolute;
  bottom: 3rem;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.service-carousel-caption > p {
  color: #fff;
  margin-bottom: 0;
  font-size: 0.8rem;
  text-align: center;
}
.carousel-item {
  max-height: 80vh;
  border-radius: 10px;
}

/* CTA section */
.section-cta,
.section-list {
  /* background-color: rgba(42, 106, 106, 0.05); */
  background-color: rgba(42, 106, 74, 0.05);
}
.cta-content {
  max-width: 700px;
  padding: 2rem 1rem;
  margin: 0 auto;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 0;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  line-height: 1.2;
}
.list-item p {
  margin-bottom: 0;
}
.list-icon {
  width: 2rem;
  height: 2rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* section digital decluttring*/
/* .section-digital .secondary-heading {
  text-align: center;
}
.section-digital .description {
  max-width: 80%;
  margin-inline: auto;
  padding-block: 1rem;
} */

.section-digital .card-icon,
.section-helping .card-icon {
  margin-bottom: 1.5rem;
  max-width: 3.75rem;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* section helping */

.section-helping-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.section-helping-grid .card-wrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 1fr;
}

.helping-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.helping-container > img,
.helping-container > a,
.helping-container > h2 {
  justify-self: center;
}

.helping-container > a {
  align-self: end;
}
/* section schedule */
.section-schedule .secondary-heading {
  text-align: center;
}
.schedule-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
}

.section-schedule button {
  border: none;
}

.section-schedule a {
  text-decoration: none;
  color: #eee;
}
