/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  color: rgba(42, 106, 106, 1);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  padding-block: 0.5rem;
  border-bottom: 1px solid rgba(42, 106, 106, 1);
}

.logo {
  width: 150px;
  aspect-ratio: 1/1;
}

/* mobile nav */
.button-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/* main */
main {
  gap: 4rem;
}

/* SECTION HERO */
.section-hero {
  text-align: center;
}
.hero-header {
  font-size: 2.4rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

/* SECTION ABOUT */

/* SECTION TESTIMONIAL */

.testimonial-list {
  list-style: none;
}
.testimonial-list-item {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-bottom: 2rem;
}

.testimonial-list-item:last-child {
  padding-bottom: 0;
}
.testimonial-text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: clamp(1.2rem, 5vw, 1.75rem);
}

.testimonial-detail {
  padding-block: 1rem;
}

.testimonial-detail > p {
  margin-bottom: 0;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/* SECTION CTA */

.section-cta {
  text-align: center;
}

.cta-heading {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

/* SECTION CERT */

.sue-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.sue-image {
  width: 100%;
  height: auto;
  justify-self: flex-end;
  object-fit: contain;
}
.sue-text {
  padding-top: 2rem;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding-top: 4rem;
}

.cert-logo {
  width: 100%;
  height: auto;
}

/* SECTION SCHEDULE */

/* SECTION SOCIAL */
.section-social {
  text-align: center;
  padding: 2rem;
}

.icon-wrapper {
  display: inline-block;
  background-color: #333;
  border-radius: 100px;
  width: 65px;
  aspect-ratio: 1/1;
  padding: 1rem;
  align-items: center;
}
.social-icon {
  fill: #aaa;
  width: 28px;
  height: 28px;
}

/* footer */
.footer {
  display: flex;
  /* align-items: start; */
  justify-content: space-between;
  flex-direction: column;
}

.divider {
  border-top: 1px solid #777;
}
.footer-nav {
  padding: 2rem 1rem;
  text-align: center;
}
.footer-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.footer-company {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.footer-logo-container {
  text-align: center;
}

.copyright {
  padding-top: 2rem;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
}
