/* main */

/* SECTION HERO */

.hero-header {
  font-size: clamp(1.5rem, 3vw, 2.4rem);
  font-weight: 300;
  line-height: 1.6;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  padding-block: 2rem;
}

.carousel-container {
  width: 80%;
}
/* SECTION ABOUT */

/* SECTION TESTIMONIAL */

.testimonial-text {
  font-weight: 400;
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.testimonial-detail {
  padding-block: 1rem;
}

.testimonial-detail > p {
  margin-bottom: 0;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/* SECTION CTA */

.section-cta {
  text-align: center;
}

.cta-heading {
  font-weight: 400;
  font-size: 2rem;
}

.quotes-entity {
  font-size: clamp(1.4rem, 3vw, 1.8rem);

  color: rgba(42, 106, 106, 1);
}
.testimonial-client {
  color: rgba(42, 106, 106, 1);
  font-size: clamp(1rem, 3vw, 1.2rem);
}
/* SECTION CERT */

.sue-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.sue-image {
  width: 100%;
  height: auto;
  justify-self: flex-end;
  object-fit: contain;
}
.sue-text {
  padding-top: 2rem;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding-top: 4rem;
}

.cert-logo {
  width: 100%;
  height: auto;
}

/* SECTION SCHEDULE */

/* SECTION SOCIAL */
.section-social {
  text-align: center;
  padding: 2rem;
}
