/* main */

/* SECTION HERO */

.hero-header {
  font-size: 2.4rem;
  /* font-family: paralucent, sans-serif; */
  font-weight: 600;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
  padding-block: 2rem;
}

/* SECTION ABOUT */

/* SECTION TESTIMONIAL */

.testimonial-text {
  font-weight: 600;
  font-size: clamp(0.8rem, 3vw, 1.2rem);
}

.testimonial-detail {
  padding-block: 1rem;
}

.testimonial-detail > p {
  margin-bottom: 0;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
/* SECTION CTA */

.section-cta {
  text-align: center;
}

.cta-heading {
  font-weight: 600;
  font-size: 2rem;
}

.quotes-entity {
  font-size: clamp(1.4rem, 3vw, 1.8rem);

  color: rgba(42, 106, 106, 1);
  /* line-height: normal; */
}
.testimonial-client {
  color: rgba(42, 106, 106, 1);
  font-size: clamp(1rem, 3vw, 1.2rem);
}
/* SECTION CERT */

.sue-desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.sue-image {
  width: 100%;
  height: auto;
  justify-self: flex-end;
  object-fit: contain;
}
.sue-text {
  padding-top: 2rem;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
  gap: 1rem;
  padding-top: 4rem;
}

.cert-logo {
  width: 100%;
  height: auto;
}

/* SECTION SCHEDULE */

/* SECTION SOCIAL */
.section-social {
  text-align: center;
  padding: 2rem;
}

/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.divider {
  border-top: 1px solid #777;
  width: 100%;
}
.footer-nav {
  padding: 2rem 1rem;
  /* text-align: center; */
}
.footer-content {
  width: 100%;
  display: flex;
  align-items: start;
  /* justify-content: space-between; */
  gap: 3rem;
}
.footer-nav-list {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  list-style: none;
  flex-direction: column;
  gap: 1rem;
}

.footer-logo-container {
  text-align: center;
  /* width: 70%; */
}

.copyright {
  padding: 1rem 2rem;
  text-align: center;
  border: 1px solid rgba(42, 106, 106, 1);
  max-width: max-content;
  margin-bottom: 2rem;
  border-radius: 5px;
  color: #aaa;
  font-size: clamp(0.7rem, 3vw, 1rem);
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 1rem;
}

.contacts a {
  text-decoration: none;
}

.contacts p,
.contacts a {
  color: rgb(26, 26, 26);
  font-weight: 600;
}

.footer-icon {
  fill: rgba(42, 106, 106, 1);
  color: rgba(42, 106, 106, 1);
  padding-right: 1rem;
}

.footer-nav-link {
  color: rgba(42, 106, 106, 1);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
}

.footer-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -10px;
  left: 0;
  right: 0;
  border: 1px solid rgba(42, 106, 106, 1);
  transform: scale(0);
}

.footer-nav-link:hover.footer-nav-link::after {
  transform: scale(1);
  transition: all 200ms ease-in;
}
